.weight-graph {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  height: 400px;
  margin-top: 40px;
}

.weight-item {
  display: flex;
  align-items: center;
  font-size: 18px;
  padding-bottom: 2px;
  height:80px;
}

.weight-circle {
  width: 150px;
  height: 80px;
  border-radius: 50%;
  border-color: rgba(19, 153, 160, 0.813);
  border-width: 3px;
  border-style: solid;
  background-color: rgb(19, 103, 160);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  
}

.weight-line {
  width: 2px;
  height:24px;
  background-color: rgba(19, 153, 160, 0.813);
  flex: 1;
  margin-top: 100px;
  padding-top:10px;
  margin-left:-75px;
  
}


.weight-date {
  margin-left: 100px;
  font-size: 18px;
}
