.graph-container {
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    margin-left: 1rem;
    flex-direction: column;
    align-items: center;
  }
  
  .pie-chart-container {
    display: flex;
    justify-content: space-between;
    background-color: #f8f9fa;
    border: 1px solid #e9ecef;
    border-radius: 8px;
    padding: 1rem;
    width: 100%;
    max-width: 900px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .piechart-wrapper {
    width: 50%;
    height: 300px;
    border-radius: 8px;
    background: #fff;
    position: relative;
    align-items: center;
  }

  .barchart-wrapper {
    width: 60%;
    height: 300px;
    border-radius: 8px;
    background: #fff;
    position: relative;
    align-items: center;
  }
  
  .hover-box {
    position: absolute;
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 0.5rem;
    background: #fff;
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }
  
  .legend-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    margin-left: 1rem;
    margin-top: 2rem;
  }
  
  .legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  
  .legend-color {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
  }
  
  .bar-chart-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    width: 120%;
    max-width: 900px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .bar-chart {
    width: 100%;
    height: 300px;
    border-radius: 8px;
    background: #fff;
  }
  
  .bar-chart h3 {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  @media (max-width: 768px) {
    .pie-chart-container {
      flex-direction: column;
      align-items: center;
    }
  
    .chart-wrapper {
      width: 70%;
    }
  
    .legend-container {
      margin-top: 1rem;
      margin-left: 0;
    }
  }
  html,
body {
  height: 100%;
  overflow: auto;
}

.page-container {
  min-height: 100%;
}